<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>College Website</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.clgw.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLoginServlet</display-name>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <servlet-class>com.clgw.servlet.FacultyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <url-pattern>/FacultyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegisterServlet</display-name>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <servlet-class>com.clgw.servlet.StudentRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <url-pattern>/StudentRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyRegisterServlet</display-name>
    <servlet-name>FacultyRegisterServlet</servlet-name>
    <servlet-class>com.clgw.servlet.FacultyRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyRegisterServlet</servlet-name>
    <url-pattern>/FacultyRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditServlet</display-name>
    <servlet-name>AdminEditServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AdminEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditServlet</servlet-name>
    <url-pattern>/AdminEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffRegisterServlet</display-name>
    <servlet-name>StaffRegisterServlet</servlet-name>
    <servlet-class>com.clgw.servlet.StaffRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffRegisterServlet</servlet-name>
    <url-pattern>/StaffRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPostEditServlet</display-name>
    <servlet-name>AdminPostEditServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AdminPostEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPostEditServlet</servlet-name>
    <url-pattern>/AdminPostEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPostDeleteServlet</display-name>
    <servlet-name>AdminPostDeleteServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AdminPostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPostDeleteServlet</servlet-name>
    <url-pattern>/AdminPostDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventServlet</display-name>
    <servlet-name>AddEventServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventServlet</servlet-name>
    <url-pattern>/AddEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsServlet</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.clgw.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNewsServlet</display-name>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>com.clgw.servlet.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/DeleteNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventEditServlet</display-name>
    <servlet-name>EventEditServlet</servlet-name>
    <servlet-class>com.clgw.servlet.EventEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventEditServlet</servlet-name>
    <url-pattern>/EventEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showStudentDetails</display-name>
    <servlet-name>showStudentDetails</servlet-name>
    <servlet-class>com.clgw.servlet.showStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showStudentDetails</servlet-name>
    <url-pattern>/showStudentDetails</url-pattern>
  </servlet-mapping>
</web-app>