<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Blood Bank Management System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.som.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDonorDetailsServlet</display-name>
    <servlet-name>SaveDonorDetailsServlet</servlet-name>
    <servlet-class>com.som.servlet.SaveDonorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDonorDetailsServlet</servlet-name>
    <url-pattern>/SaveDonorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDonorDetailsServlet</display-name>
    <servlet-name>UpdateDonorDetailsServlet</servlet-name>
    <servlet-class>com.som.servlet.UpdateDonorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDonorDetailsServlet</servlet-name>
    <url-pattern>/UpdateDonorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDonor</display-name>
    <servlet-name>DeleteDonor</servlet-name>
    <servlet-class>com.som.servlet.DeleteDonor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDonor</servlet-name>
    <url-pattern>/DeleteDonor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestApprovedServlet</display-name>
    <servlet-name>RequestApprovedServlet</servlet-name>
    <servlet-class>com.som.servlet.RequestApprovedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestApprovedServlet</servlet-name>
    <url-pattern>/RequestApprovedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.som.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStockDetailsServlet</display-name>
    <servlet-name>ManageStockDetailsServlet</servlet-name>
    <servlet-class>com.som.servlet.ManageStockDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStockDetailsServlet</servlet-name>
    <url-pattern>/ManageStockDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStockservlet</display-name>
    <servlet-name>ManageStockservlet</servlet-name>
    <servlet-class>com.som.servlet.ManageStockservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStockservlet</servlet-name>
    <url-pattern>/ManageStockservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.som.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>